* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color: black;
  --border: 1px solid #dbdbdb;
}
body {
  color: var(--text-color);
  font-family: "Montserrat";
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
